<h2>Product Admin Login</h2>

<% form_tag :sessions do %>
	<div>Email <%= text_field_tag :email %></div>
	<div>Password <%= password_field_tag :password %></div>

	<hr>
	<div>
		<%= submit_tag 'Login' %>
	</div>
<% end %>
